extends layout

block header
    include header

block content
 // Intro Content
 div.row
  .col-lg-6
    img.img-fluid.rounded.mb-4.rad(src='images/photo.JPG', alt='')
  .col-lg-6
    br
    h2 About Me
    |
    p
     p
    | A skilled, knowledgeable and qualified computer programming student with extensive background in computer programming and
    | project management. Seeking a challenging position as computer programmer or web designer and developer to utilize my knowledge
    | in a well reputed organization.
    // /.row

block footer
    include footer