extends layout

block header
    include header

block content
 // Project One
 div.row
  div.col-md-5
    a(href='#')
      img.img-fluid.rounded.mb-3.mb-md-0(src='images/facebook.jpg', alt='')
  div.col-md-7
    br
    h3 User Experience Department Assistant, Facebook
    h4  Jan 2018 - May 2018 (Co-op term)
    p
      | Participating in the full spectrum of user-centred design activities, including:
      | exploratory research and framing (journey maps, scenarios), interaction and interface
      | design (wireframes, mockups, prototypes), evaluation (user testing, design critiques),
      | and final production (design specifications, asset creation)
    
      span.glyphicon.glyphicon-chevron-right
 // /.row
 hr
 // Project Two
 div.row
  div.col-md-5
    a(href='#')
      img.img-fluid.rounded.mb-3.mb-md-0(src='images/yahoo.jpg', alt='')
  div.col-md-7
    br
    h3 Mobile Application Design Assistant, Yahoo
    h4  Jan 2017 - May 2017 (Co-op term)
    p
      | Working with UI/UX to help design features for both new and existing applications,
      | reproducing defects, effectively fixing and testing solutions.
      | In-depth knowledge of Javascript and JSON and relevant features as well as experience with
      | embedded databases
    
      span.glyphicon.glyphicon-chevron-right
  // /.row

block footer
    include footer